/*******************************************************************
                            GENERAL
********************************************************************/
html,body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
    
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
section{
    background: #FFF;
    letter-spacing: 0.7px;
}
a,a:focus,a:hover{
    text-decoration: none;
}

/*******************************************************************
                            LINE ICONS
********************************************************************/
[class*='lni-']{
    display: inline-block;
}

/*******************************************************************
                            HELPER CLASSES
********************************************************************/
.m-0{
    margin: 0 !important;
}
.m-10{
    margin: 10px !important;
}
.m-30{
    margin: 30px !important;
}
.m-40{
    margin: 40px !important;
}
.m-50{
    margin: 50px !important;
}
.m-70{
    margin: 70px !important;
}
.m-90{
    margin: 90px !important;
}
.m-100{
    margin: 100px !important;
}
.m-120{
    margin: 120px !important;
}

.m-t-0{
    margin-top: 0 !important;
}
.m-t-10{
    margin-top: 10px !important;
}
.m-t-30{
    margin-top: 30px !important;
}
.m-t-50{
    margin-top: 50px !important;
}
.m-t-70{
    margin-top: 70px !important;
}
.m-t-90{
    margin-top: 90px !important;
}
.m-t-100{
    margin-top: 100px !important;
}
.m-t-120{
    margin-top: 120px !important;
}

.m-b-0{
    margin-bottom: 0 !important;
}
.m-b-10{
    margin-bottom: 10px !important;
}
.m-b-20{
    margin-bottom: 20px !important;
}
.m-b-30{
    margin-bottom: 30px!important;
}
.m-b-50{
    margin-bottom: 50px !important;
}
.m-b-70{
    margin-bottom: 70px !important;
}
.m-b-90{
    margin-bottom: 90px !important;
}
.m-b-100{
    margin-bottom: 100px !important;
}
.m-b-120{
    margin-bottom: 120px !important;
}

.p-0{
    padding: 0 !important;
}
.p-b-0{
    padding-bottom: 0 !important;
}
.p-t-0{
    padding-top: 0 !important;
}
.p-b-100{
    padding-bottom: 100px !important;
}
/*******************************************************************
                            CONTENT BOXES
********************************************************************/
.content-box-xs{
    padding: 30px 0;
}
.content-box-lg{
    padding: 120px 0;
}
.content-box-md{
    padding: 100px 0;
}
.content-box-sm{
    padding-bottom: 90px;
}

/*******************************************************************
                            BUTTON CLASSES
********************************************************************/
.btn-general{
    font-size: 17px;
    text-transform: uppercase;
    padding: 15px 30px;
}
.btn-small{
    font-size: 16px;
    text-transform: uppercase;
    padding: 13px 25px;
}

.btn-white{
     border: solid 2px #FFF;
     color: #FFF;
}
.btn-blue{
     border: solid 2px #34C6D3;
     color: #34C6D3;
}

.btn-white:hover {
    background: #FFF;
    color: #212226;
}

.btn-blue:hover{
    background: #34C6D3;
    color: #FFF;
}
/*******************************************************************
                            GENERAL HEADING
********************************************************************/
.gen-heading h2{
    font-weight: 700;
    margin-bottom: 30px;
}
.gen-heading .underline{
    width: 30px;
    height: 3px;
    background: #34C6D3;
    margin: 0 auto 30px;
}

/*******************************************************************
                            HOME
********************************************************************/
#home{
    height: 100vh;
}
.home-img{
    background: url(../img/bg-home.jpg) no-repeat fixed center;
    background-size: cover;
    height: 100%
}
.home-content{
    background: none;
    padding-top: 220px;
}
.home-content h1{
    color: #FFF;
    font-weight: bolder;
    font-size: 55px;
    margin-bottom: 40px;
}

/*******************************************************************
                            SERVICES
********************************************************************/
.service-icon{
    margin-top: 30px;
}
.service-icon i{
    color:  #34C6D3;
    font-size: 42px;
    text-align: center;
    height: 75px;
    width: 75px;
    padding: 15px;
}

.service:hover i{
    color: #FFF;
    background: #34C6D3;
}
.service:hover{
    cursor: pointer;
}

.service-heading h3{
    font-size: 20px;
}
.service-info p{
    color: #98A0A8;
    font-size: 16px;
    font-weight:lighter;
}

#services .container{
    margin-left: 75px !important;

}
#services .col-md-4{
    padding-top: 0 !important;
}
#services .col-md-8{
    padding-left: 0 !important;
}

/*******************************************************************
                            ABOUT
********************************************************************/
 
.about-img{
    background: url(../img/bg-about.jpg) no-repeat fixed center;
    background-size: cover;
    border-left: solid 200px #FFF;
    border-top: solid 800px transparent;
    float: right;
    width: 60%;
}

.about-wg{
    transform: translateY(300px);
}

.about-content p{
    color: #98A0A8;
    font-size: 15.6px;
    font-weight:lighter;
}
.about-content{
    margin-bottom: 40px;
}

/*******************************************************************
                            WORK
********************************************************************/
.work-item{
    overflow: hidden;
    position: relative;
}
.work-item img{
    transition: all .4s ease;
}

.work-item:hover img{
    transform: scale(1.5);
}

.work-item a{
    cursor: zoom-in;
}

/*******************************************************************
                            TEAM
********************************************************************/
#team{
    font-family: 'Roboto condensed',sans-serif;
}
#team ul{
    transform: translateX(85px);
}
ul.social-icons li{
    display: inline-block;
}
 
.team-name h3{
    font-size: 24px;
    letter-spacing: 1px;
/*    padding-top: 2px;*/
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
}
.team-desig h4{
    font-size: 16px;
    letter-spacing: 1px;
    color:  #34C6D3;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    margin: 15px 0;
}
ul.social-icons li a{
    font-size: 17px;
    color: #98A0A8;
    transition: all .3s linear;
    padding: 0 10px;
}
ul.social-icons li:hover a{
    color: #34C6D3;
}

.owl-theme .owl-dots .owl-dot span{
    background: #B6F7FD !important;
    margin:25px 7px !important;
}
.owl-theme .owl-dot.active span{
    background: #34C6D3 !important;
}

/*******************************************************************
                            PRICING
********************************************************************/
.basic{
    border: solid 3px #34C6D3;
    width: 360px;
    height: 500px;
}

.basic.special{
    background: #34C6D3;
    height: 560px;
    transform: translateY(-25px);
}
.type{
    color: #FFF;
    font-size: 12px;
    letter-spacing: 0.3px;
    font-weight: 900;
    transform: translateY(120%);
}
.basic.special .type{
    transform: translateY(200%);
}
.type span{
    background: #34C6D3;
    padding: 8px 15px;
}

.basic.special .type span{
    background: #FFF;
    color: #34C6D3;
}
.price{
    margin-top: 50px;
}
.basic.special .price{
    margin-top: 75px;
}
.basic .price h2{
    font-size: 60px;
    font-weight: bolder;
}
.basic .price h2 span{
    font-size: 28px;
    font-weight: 200;
    transform: translateY(-35px);
}
ul.price-list{
    margin-top: -20px;
    margin-bottom: 40px;
}
ul.price-list li{
    display: inline-block;
}
ul.price-list li p{
    font-size: 16px;
    color: #98A0A8;
    padding-right: 35px;
    font-weight: 400;
}
.basic.special ul.price-list li p{
    color: #FFF;
}

/*******************************************************************
                            STATS
********************************************************************/
.stat-img{
    background: url(../img/bg-stats.jpg) no-repeat fixed center;
    background-size: cover;
    height: 100%;
}
#stats .gen-heading{
    color: #FFF;
}
#stats .content-box-xs{
    background: rgba(0,0,0,0.7);
}
.stats-item{
    margin: 75px;
}
.stats-item i{
    color: #34C6D3;
    font-size: 70px;
}
.stats-item h3{
    color: #FFF;
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 0;
}
.stats-item p{
    font-size: 17px;
    color: #FFF;
    font-weight: 100;
}
/*******************************************************************
                            CONTACT
********************************************************************/
#contact{
    background-color: #41464B;
/*    padding-bottom: 20px;*/
    color: #FFF;
}
.contact-address{
    background: url(../img/world-map.png) no-repeat;
    background-size: contain;
    margin-top: 30px;
}
.contact-number{
    margin-top: 30px;
}
.contact-left h3, .contact-right h3{
    font-size: 26px;
    margin-top: 40px;
    font-weight: bold;
}
.contact-left p{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
#contact .contact-right .contact-form{
    color: #98A0A8;
    border: solid 1px #FFF;
    background: transparent;
    display: block;
    width: 100%;
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
    padding: 7px 15px;
    font-weight: 300;
}

ul.contact-icons{
    margin: 40px 0;
    margin-left: -50px;
}
ul.contact-icons li{
    display: inline-block;
}
ul.contact-icons li a{
    font-size: 16px;
    color:#FFF;
    transition: all .3s linear;
    padding: 13px;

}
ul.contact-icons li:hover a{
    color: #34C6D3;
}


/*******************************************************************
                            TESTIMONALS
********************************************************************/
#testimonal{
    color: #FFF;
}
#testimonal img{
    max-width: 120px;
    margin: 0 auto;
}
.testimonal-img{
    background: url(../img/bg-testimonials.jpg) no-repeat fixed center;
    background-size: cover;
    height: 100%;
}
.test-member blockquote{
    border: 0;
    font-size: 15px;
    font-family: Georgia, Times, serif;
    font-style: italic;
    padding: 10px 150px;
    color: #fff;
    margin: 0 auto;
    position: relative;
}
.test-member blockquote p{
    margin: 10px auto;
}

.test-member blockquote:before,
.test-member blockquote:after{
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    width: 30px;
    height: 30px;
    position: absolute;
}
.test-member blockquote:before{
    content: "\201C";
    top: 0;
    left: 100px;
}
.test-member blockquote:after {
    content: "\201D";
    bottom: 0;
    right: 100px;
}
.testimonal-author p{
    font-size: 16px;
    
    font-weight: 300;
}
.testimonal-author strong{
    display: block;
}
.testimonal-author span{
    font-weight: 500;
}
/*******************************************************************
                            TWEAKING BOOTSTRAP
********************************************************************/
.row.no-gutter [class*='col-']{
    padding:0;
}




